absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
anndata==0.10.9
annotated-doc==0.0.4
anyio==4.12.1
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
array_api_compat==1.11.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout==5.0.1
attrs==26.1.0
cached-property==2.0.1
cell-gears==0.0.2
certifi==2026.6.17
charset-normalizer==3.4.7
chex==0.1.90
click==8.1.8
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contextlib2==21.6.0
contourpy==1.3.0
cycler==0.12.1
datasets==2.21.0
dcor==0.6
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1757067185699/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
Deprecated==1.3.1
dill==0.3.8
docrep==0.3.2
et_xmlfile==2.0.0
etils==1.5.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
faiss-cpu==1.13.0
filelock==3.19.1
flax==0.8.5
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2024.6.1
get-annotations==0.1.2
h11==0.16.0
h5py==3.14.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
humanize==4.13.0
idna==3.18
igraph==1.0.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1754352890318/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701831663892/work
jax==0.4.30
jaxlib==0.4.30
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
joblib==1.5.3
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
kiwisolver==1.4.7
legacy-api-wrap==1.5
leidenalg==0.12.0
lightning-utilities==0.15.2
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
ml_collections==0.1.1
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
mudata==0.2.4
multidict==6.7.1
multipledispatch==1.0.0
multiprocess==0.70.16
natsort==8.4.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
numpyro==0.19.0
openpyxl==3.1.5
opt_einsum==3.4.0
optax==0.2.4
orbax==0.1.7
orbax-checkpoint==0.6.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==2.3.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy==1.0.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache==0.4.1
protobuf==6.33.6
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1618863975118/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==21.0.0
pydot==4.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pynndescent==0.6.0
pyparsing==3.3.2
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytorch-lightning==1.9.5
pytz==2026.2
PyYAML==6.0.3
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1758103938220/work
requests==2.32.5
rich==15.0.0
scanpy==1.10.3
scgpt==0.2.4
scib==1.1.7
scikit-learn==1.6.1
scikit-misc==0.3.1
scipy==1.13.1
scvi-tools==0.20.3
seaborn==0.13.2
session_info==1.0.1
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels==0.14.6
stdlib-list==0.12.0
sympy==1.14.0
tensorstore==0.1.69
texttable==1.7.0
threadpoolctl==3.6.0
toolz==1.1.0
torch==2.3.0
torchaudio==2.3.0
torchmetrics==1.8.2
torchtext==0.18.0
torchvision==0.18.0
tornado @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_63s3osc0_1/croot/tornado_1748956943583/work
tqdm==4.68.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typer==0.23.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2026.2
umap-learn==0.5.12
urllib3==2.6.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
wrapt==2.2.2
xxhash==3.8.0
yarl==1.22.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
